body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.size-dropdown
{
  background-color: grey;
  width: 17rem;
}

.sauce
{
  background-color: grey;
  width: 17rem;
}

.toppings
{
  background-color: grey;
  width: 17rem;
}

label {
  display: block;
}

.special_instructions{
 color: blue;
 padding: 4rem;
 margin: 5rem;
  
}